GOOGLE_SCRIPT_URL=https://script.google.com/macros/s/YOUR_DEPLOYMENT_ID/exec
GOOGLE_SCRIPT_SECRET=SET_THE_SAME_VALUE_AS_SHARED_SECRET_IN_APPS_SCRIPT
SESSION_SECRET=SET_A_SEPARATE_RANDOM_SECRET_AT_LEAST_32_CHARACTERS
